// KayaksPlus brand colours
$kp-blue: #0099ff;
$kp-yellow: #ffcc00;
// $pink: #fa7c91;
// $brown: #757763;
// $beige-light: #d0d1cd;
// $beige-lighter: #eff0eb;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  // $family-primary: '"Nunito", sans-serif',
  // $grey-dark: $brown,
  // $grey-light: $beige-light,
  $primary: $kp-blue,
  $link: $kp-yellow,
  // $control-border-width: 2px,
  // $input-shadow: none
);

// Import the Google Font
// @import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

@import "bulma/bulma.scss";
@import "@fortawesome/fontawesome-free/css/all.css";

@import "bulma/sass/utilities/mixins";

i {
  &.is-loading {
    @include loader;
  }
}

.fa-stack {
  text-align: center;
}

.fa-stack .fa-caret-down {
  position: absolute;
  bottom: 0;
}

.fa-stack .fa-caret-up {
  position: absolute;
  top: 0;
}
